

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

stranger.webp{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#000000,#ba200b);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.escola-div-conteudo{
    width: 40%;
}
.escola-titulo{
    padding: 24px 0;
}